<div class="mod-mobilemenu d-flex align-items-center">
  <div class="menucontent w-100 text-center">
    {% include "overlaymenu.twig" with {'overlaymenu': overlaymenu.get_items} %}
    {% include "footermenu.twig" with {'footermenu': footermenu.get_items} %}
  </div>
</div>