.cards.cards-archive {
  margin: 0;
  .card-wrapper {
    padding: 0 0 30px;
    vertical-align: top;
    .card {
	    padding-bottom: 75%;
	    position: relative;
	    color: #fff;
	    display: block;
	    border-radius: 0;
	    transition: 0.2s ease-in;
	    background-size: cover;
	    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
			filter: grayscale(100%);
			border: 0;
	    .card-body {
		    position: absolute;
		    bottom: 20px;
		    left: 20px;
				padding: 0; 
				right: 20px;
				h3 {
					color: #fff;
					margin: 0;
				}
	    }
	    &:hover {
		    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
				filter: grayscale(0%);
	    }
    }
  }
}
